body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header h2 {
    color: #11a3e7;
}
header h3 {
    color: #28bb07;
}
section {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
section h2, section h3 {
    color: #da330d;
}
ul {
    list-style-type: square;
}
a {
    color: #2980b9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
